.title {
  font-family: "Arial", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
  text-transform: uppercase;
}
.document-form {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.document-container {
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: white;
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.document-container .fab {
  border-radius: 100%;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.document-form .form-label {
  font-weight: bold;
}

.document-form .form-control {
  border-radius: 4px;
}

.document-form button {
  font-size: 1.1em;
  padding: 10px;
}
*/ .light-placeholder::placeholder {
  color: #d3d3d3;
  opacity: 1;
}

.custom-input > div:first-of-type {
  background-color: #212529;
  border: 1px solid #495057;
}
.custom-input > div:nth-of-type(2) {
  background-color: #495057;
  border: 1px solid #495057;
  color: whitesmoke;
}
.custom-input > div:nth-of-type(2) > div > div:active,
.custom-input > div:nth-of-type(2) > div > div:hover {
  /* background-color: #495057 !important; */
  color: black;
}

.custom-date-picker .react-datepicker-wrapper {
  opacity: 0;
}
