#Dependency directories
node_modules/

# Coverage directory
coverage

# dotenv environment variable files
.env
test.env
mariadb.env

# Database scripts
db_scripts/

# Docker configuration files
Dockerfile
docker-compose.yml